<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}">
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
{{ if .IsHome }}
<meta name="twitter:image" content="{{ .Site.Params.hero.hero__image | absURL }}">
{{ else }}
<meta name="twitter:image" content="{{ with .Params.Image }}{{ . | absURL }}{{ end }}">
{{ end }}
